cmake-build-debug/
.idea/
venv/

!config_files/
config_files/*
!config_files/.gitkeep

!reference_keypoints/
reference_keypoints/*
!reference_keypoints/.gitkeep

!data/
data/*
!data/.gitkeep

!results/
results/*
!results/.gitkeep

!models/
models/*
!models/.gitkeep

!build/
build/*
